@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

body {
    background-image: url(blue-apron.jpg);
    text-align: center;
    color: blue;
    font-family: "Mynerve", cursive;}